{% extends "asudreCDM14Bundle::layout.html.twig" %}

{% block title %}{{ parent() }}Invite tes amis{% endblock %}

{% block body %}
	<div id="contenu">
		<ol>
			<li>{{ 'regles.objectifs'|trans|raw }}</li>
			<li>{{ 'regles.comment_miser'|trans|raw }}</li>
			<li>{{ 'regles.calcul_cotes'|trans|raw }}</li>
			<li>{{ 'regles.groupes_joueurs'|trans|raw }}</li>
		</ol>
	</div>
{% endblock %}